    <div class="page-full bg-dark text-white">
        <div class="content text-center">
            <p>Welcome <%= locals.user?.username%></strong></p>
            <p>Your Emial <%= locals.user?.email%></strong></p>
            <div>
                <a href="/logout" class="btn btn-primary">Logout</a>
            </div>
        </div>
    </div>