.page-full{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-full .content{
    width: 90%;
    max-width: 500px;
    margin-inline: auto;
}